

.spoiler-btn {
    cursor: pointer;
    padding: 10px;
    color: rgb(228, 33, 33);
    border: 1px solid rgb(202, 57, 57);
    width: 100px;
    user-select: none;
}

.content {
    user-select: none;
    cursor: pointer;
    width: 100px;
    padding: 10px;
    background-color: cornflowerblue;
    border: 1px solid cornsilk;
    display: none;
}